<config>
    <modules>
        <Zafar_GroupAttributes>
            <version>1.0.0</version>
            <depends>
                <Mage_Catalog />
            </depends>
        </Zafar_GroupAttributes>
    </modules>
    <global>
        <models>
            <groupattributes>
                <class>Zafar_GroupAttributes_Model</class>
                <resourceModel>groupattributes_mysql4</resourceModel>
            </groupattributes>
            <groupattributes_mysql4>
                <class>Zafar_GroupAttributes_Model_Mysql4</class>
                <entities>
                    <groups>
                        <table>eav_frontend_attribute_group_label</table>
                    </groups> 
                </entities>
            </groupattributes_mysql4>
        </models>
        <helpers>
            <groupattributes>
                <class>Zafar_GroupAttributes_Helper</class>
            </groupattributes>
        </helpers>
        <blocks>
            <groupattributes>
                <class>Zafar_GroupAttributes_Block</class>
            </groupattributes>
            <catalog>
                <rewrite>
                    <product_view_attributes>Zafar_GroupAttributes_Block_Catalog_Product_View_Attributes</product_view_attributes>
                </rewrite>
            </catalog>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_set_main>Zafar_GroupAttributes_Block_Adminhtml_Catalog_Product_Attribute_Set_Main</catalog_product_attribute_set_main>
                    <catalog_product_attribute_set_main_formset>Zafar_GroupAttributes_Block_Adminhtml_Catalog_Product_Attribute_Set_Main_Formset</catalog_product_attribute_set_main_formset>
                    
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <groupattributes_setup>
                <setup>
                    <module>Zafar_GroupAttributes</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </groupattributes_setup>
            <groupattributes_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </groupattributes_write>
            <groupattributes_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </groupattributes_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <groupattributes>
                    <file>groupattributes.xml</file>
                </groupattributes>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <eav_entity_attribute_set_save_after>
                <observers>
                    <catalog>
                        <type>singleton</type>
                        <class>Zafar_GroupAttributes_Model_Observer</class>
                        <method>saveAttributeGroupName</method>
                    </catalog>
                </observers>
            </eav_entity_attribute_set_save_after>
        </events>
    </adminhtml>
</config>